.tripdetails{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    /*background-color: rgb(124, 194, 203);*/
    color: rgb(9, 9, 9);
    width: 300px;
    border-radius: 20px;
    box-shadow: 2px;
      
    
    padding: 1px;
    position: absolute;
    top: 250px;;
    bottom: 150x;
    left: 200px;
    right: 200px;
    
    margin: auto;

  }

  table,td,th {
    background-color: rgb(124, 194, 203);
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding: 15px;
    width: 70%;
    margin: 1px solid black;
    border: 1px solid black;
    border-collapse: collapse;
  }

  table {
    border-radius: 20px;
  }